@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create DeliveryBoy";
}
<h1>Add a New Delivery Boy</h1>

<form class="container w-50" asp-controller="DeliveryBoy" asp-action="Create">
    <input type="text" class="form-control my-3" name="Name" placeholder="Name" />
    <input type="text" class="form-control my-3" name="Address" placeholder="Address" />
    <input type="text" class="form-control my-3" name="Phone" placeholder="Phone" />
    <input type="submit" class="btn btn-primary my-3 w-75" value="Send" />
</form>