@model TL2_TP3.Models.Order

@{
    ViewData["Title"] = "Edit";
}
<h1>Edit a Order</h1>
<hr />
<div class="container">
    <form class="w-50 m-auto" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Number" type="hidden" class="form-control" />
        <input asp-for="Client" type="hidden" class="form-control" />
        <div class="form-group">
            <label asp-for="Observation" class="control-label"></label>
            <input asp-for="Observation" class="form-control" />
            <span asp-validation-for="Observation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="State" class="control-label"></label>
            <select asp-for="State" name="State" class="form-control">
                <option value="0">To Confirm</option>
                <option value="1">On The Way</option>
                <option value="2">Delivered</option>
                <option value="3">Cancelled</option>
            </select>
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary w-100 my-3" />
        </div>
    </form>

    <div class="text-center">
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
